<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../app/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../app/vendors/css/ionicons.min.css">
    <link rel="stylesheet" href="../../node_modules/trumbowyg/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/control.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/script.css">
    <title>Control Panel</title>
</head>

<body>
    <div class="box">
        <div class="main-container clearfix">
            <div class="options">
                <h2>Hello, user</h2>
                <ul>
                    <li>
                        <a class="btn btn-options config-menu" id="create-user">Create new user</a>
                    </li>
                    <li>
                        <a class="btn btn-options config-menu" id="edit-users">Edit Users</a>
                    </li>
                    <li>
                        <a class="btn btn-options config-menu" id="create-post">Create new post</a>
                    </li>
                    <li>
                        <a class="btn btn-options config-menu" id="list-posts">List posts</a>
                    </li>
                    <li>
                        <a class="btn btn-options config-menu" id="logoff">Logoff</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <!-- default content -->
                Welcome to the Control Panel, user.
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p></p>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Import Trumbowyg  -->
<script src="../../node_modules/trumbowyg/dist/trumbowyg.js"></script>
<script src="../../node_modules/trumbowyg/dist/plugins/upload/trumbowyg.upload.min.js"></script>
<script src="../resources/js/script.js"></script>
<script src="../controller/controlPanel.js"></script>

</html>