<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../resources/css/control.css">
    <title>Control Panel</title>
</head>

<body>
    <div class="box">
        <div class="main-container clearfix">
            <div class="options">
                <p>Hello, user</p>
                <ul>
                    <li>
                        <a class="btn btn-options" href="">Create new user</a>
                    </li>
                    <li>
                        <a class="btn btn-options" href="">Create new post</a>
                    </li>
                    <li>
                        <a class="btn btn-options" href="">List post</a>
                    </li>
                    <li>
                        <a class="btn btn-options" href="">Exit</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                batata
            </div>
        </div>
    </div>
</body>

</html>