<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../vendors/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Titillium+Web:300,300i,400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/news.css">
    <title>Noticia muito daora pra caralho wow nice good</title>
</head>

<body>
    <section class="hero">
        <h1>Noticia muito daora pra caralho wow nice good</h1>
    </section>
    <section class="infos clearfix">
        <div class="box">
            <p class="infos-author">Fresh Prince</p>
            <p class="infos-date">12/99/2099</p>
        </div>
    </section>
    <section class="box content news-body">
        <img src="../resources/img/stock-img-entry.jpg" alt="">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at tellus nulla. Quisque tincidunt eros tortor, vitae
            viverra diam ornare quis. Morbi vulputate, erat non laoreet elementum, dui mi pellentesque neque, eu molestie
            odio ligula eget dui. Proin non est venenatis, interdum elit et, malesuada est. Fusce id faucibus ante. Vestibulum
            maximus mi dolor, ac posuere risus varius ac. In mollis orci sed egestas pharetra. Vestibulum velit purus, rutrum
            ut tellus ac, bibendum accumsan risus. Integer dignissim dui nec ligula pretium, nec cursus augue consectetur.
            Pellentesque sagittis nec sem posuere iaculis. Quisque porttitor urna sodales fringilla aliquam. In hac habitasse
            platea dictumst. Proin at magna libero. Integer et risus nec orci interdum maximus hendrerit quis nisl. Maecenas
            eu viverra nulla. Suspendisse posuere, diam lobortis commodo efficitur, velit libero tempor purus, quis ullamcorper
            arcu quam tristique ipsum. Quisque egestas mattis turpis, sit amet pulvinar odio bibendum volutpat. In imperdiet
            purus non imperdiet fringilla. Sed mauris dolor, dignissim sit amet tortor rhoncus, euismod porttitor dolor.
            Proin facilisis lorem a orci tempor malesuada. Mauris imperdiet magna auctor tortor lacinia efficitur. Pellentesque
            lacinia magna eget lobortis pretium. Aliquam blandit ligula at justo viverra, eu malesuada dolor ultricies. Vivamus
            dapibus erat velit, quis pretium ipsum malesuada a. Nunc ligula ipsum, rutrum sit amet viverra quis, vestibulum
            lacinia diam. Sed dictum elit risus, ut sodales orci molestie ac. Maecenas ac ultricies metus. Aenean dapibus
            ligula odio, ut suscipit metus convallis nec. Vestibulum risus magna, mollis et laoreet vitae, placerat et nisl.
            Nullam hendrerit dictum ex ac dignissim.
        </p>
            <img src="../resources/img/stock-img-entry.jpg" alt=""><br>
        <p>
            Vestibulum at sapien eu metus condimentum tristique ut quis massa. Cras et erat elementum, ultrices massa vitae, hendrerit
            purus. Vestibulum cursus porta tellus. Sed aliquet, orci nec ornare lobortis, mi purus volutpat est, vel finibus
            purus orci ac mi. Pellentesque at mauris dui. Nunc egestas lorem a felis facilisis, in eleifend libero cursus.
            Aenean lorem magna, placerat sit amet massa nec, blandit finibus ipsum. Vestibulum rhoncus libero tellus, in
            auctor erat porta eget. Etiam et purus pulvinar nulla vulputate sagittis. Etiam leo ante, accumsan eu velit ut,
            aliquam semper arcu. Aliquam at magna a enim lacinia tincidunt. Pellentesque ac nibh molestie, feugiat orci tincidunt,
            eleifend lectus. Proin ac orci at leo congue bibendum. Vivamus finibus, nisi sit amet semper hendrerit, ipsum
            justo dignissim nisl, ut volutpat est mi eu augue. Cras semper, nulla at porttitor scelerisque, mi nisl molestie
            enim, non accumsan justo justo sed odio. Ut id nulla nec leo bibendum suscipit egestas eget sem. Maecenas fermentum
            tellus quis suscipit mollis. Aliquam ut ante quis tellus congue vestibulum. Nunc euismod quam vitae aliquet aliquam.
            Suspendisse interdum pharetra lectus, ac convallis augue fringilla ac. Nunc nec quam ipsum. Quisque quis suscipit
            turpis. Sed vitae faucibus augue. Cras sit amet porta sapien. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Vestibulum gravida volutpat aliquam. Sed dignissim lectus eu ligula
            luctus ullamcorper. In in mi eros. Sed sit amet ligula efficitur, pulvinar ante id, tincidunt nulla.
        </p>

    </section>
</body>

</html>