<h2>Change user data</h2>
<form onsubmit="return" class="edit-user-data">
    <div class="edit-user-data-grid">
        <label for="new-game">Name</label>
        <input type="text" name="" id="new-name">

        <label for="new-username">Username</label>
        <input type="text" name="" id="new-username">

        <label for="new-password">Password</label>
        <input type="text" name="" id="new-password" placeholder="new password">

        <label for="new-isAdmin">Admin?</label>
        <input type="checkbox" name="" id="new-isAdmin">

    </div>

    <div class="change-button-grid">
        <a class="btn btn-big btn-change" id="return">Return</a>
        <input type="button" class="btn btn-big btn-change" id="change" value="Change">
    </div>
</form>