<h2>Edit users</h2>
<div class="user-grid-layout table-title">
    <label>Name</label>
    <label>Username</label>
    <label>Password</label>
    <label>Edit</label>
    <label>Delete</label>
</div>

<div class="user-grid-layout row">
    <p>Name 1</p>
    <p>Username 1</p>
    <p>Password 1</p>
    <a href="#">
        <i class="icon ion-edit"></i>
    </a>
    <a href="#">
        <i class="icon ion-close-circled"></i>
    </a>
</div>

<div class="user-grid-layout row">
    <p>Name 1</p>
    <p>Username 1</p>
    <p>Password 1</p>
    <a href="#">
        <i class="icon ion-edit"></i>
    </a>
    <a href="#">
        <i class="icon ion-close-circled"></i>
    </a>
</div>

<div class="user-grid-layout row">
    <p>Name 1</p>
    <p>Username 1</p>
    <p>Password 1</p>
    <a href="#">
        <i class="icon ion-edit"></i>
    </a>
    <a href="#">
        <i class="icon ion-close-circled"></i>
    </a>
</div>