<h2>All posts</h2>
<div class="list-content-grid table-title">
    <label>Title</label>
    <label>Author</label>
    <label>Date</label>
    <label>Edit</label>
    <label>Delete</label>
</div>

<!-- <div class="list-content-grid row">
    <p>Noticia muito daora pra caralho wow nice good</p>
    <p>author 2</p>
    <p>date 2</p>
    <a href="#">
        <i class="icon ion-edit"></i>
    </a>
    <a href="#">
        <i class="icon ion-close-circled"></i>
    </a>
</div>


<div class="list-content-grid row">
    <p>name 1</p>
    <p>author 1</p>
    <p>date 1</p>
    <a href="#">
        <i class="icon ion-edit"></i>
    </a>
    <a href="#">
        <i class="icon ion-close-circled"></i>
    </a>
</div>


<div class="list-content-grid row">
    <p>name 1</p>
    <p>author 1</p>
    <p>date 1</p>
    <a href="#">
        <i class="icon ion-edit"></i>
    </a>
    <a href="#">
        <i class="icon ion-close-circled"></i>
    </a>
</div>

<div class="list-content-grid row">
    <p>name 1</p>
    <p>author 1</p>
    <p>date 1</p>
    <a href="#">
        <i class="icon ion-edit"></i>
    </a>
    <a href="#">
        <i class="icon ion-close-circled"></i>
    </a>
</div> -->